body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

header {
    padding: 2rem;
    padding-top: 5%;
}

section {
    text-align: left;
    padding-left: 10%;
}


.centered-line {
    border-bottom: 1px solid gray;
    width: 80%;
    margin: 0 auto; /* 가로 중앙 정렬 */
    position: absolute;
    left: 50%; /* 화면 너비의 50% */
    transform: translate(-50%, -50%); /* 가운데 정렬 */
}







.project {
    position: relative;
    padding: 1rem;
}

.skills {
    position: relative;
    padding: 0rem 3rem;
}

.whpImages img {
    position: absolute;
    top: -250%; /* 위로 이동 */
    right: 20%; /* 좌우 이동 */
    width: 20%; /* 크기를 줄임 */
    height: auto; /* 비율 유지 */
}


/* 전체 사진에 대한 부모 요소 */
.whpImages {
    display: flex; /* 레이아웃 생성 */
    justify-content: center; /* 수평 가운데 정렬 */
    width: 100%; /* 슬라이드 컨테이너를 화면 너비에 맞게 설정 */
    overflow: hidden; /* 가로로 넘치는 부분은 숨김 */
}

/* 전체 사진에 대한 속성 */
.whpImages img {
    max-width: 300px; /* 이미지 최대 너비를 부모 요소의 너비에맞춤 */
    height: auto;   /* 이미지 높이를 너비에 비례하여 자동 조정 */
    margin-top: 20%; /* 이미지 위쪽 여백을 설정하여 이미지를 아래로 내림 */
}

.slide {
    display: flex;
    overflow-x: hidden; /* 가로로 넘치는 부분은 숨김 */
    scroll-snap-type: x mandatory; /* x축으로 스크롤하는 경우 스냅 */
}
  
.slide img {
    flex: 0 0 100%; /* 슬라이드가 컨테이너의 가로 너비를 차지하도록 함 */
    scroll-snap-align: start; /* 슬라이드가 스냅될 때 왼쪽에 정렬되도록 함 */
    margin-right: 10px; /* 이미지 간의 간격을 조절 */
}

.coffeeNoteImages img {
    position: absolute;
    top: -110%; /* 위로 이동 */
    right: 7%; /* 좌우 이동 */
    width: 50%; /* 크기를 줄임 */
    height: auto; /* 비율 유지 */
}

.tokenHunterImages img {
    position: absolute;
    top: -140%; /* 위로 이동 */
    right: 2%; /* 좌우 이동 */
    width: 45%; /* 크기를 줄임 */
    height: auto; /* 비율 유지 */
}